/Traditional-Methods/Traditional-Methods.sln
/Traditional-Methods/.vs
/Traditional-Methods/Debug
/Traditional-Methods/Traditional-Methods/Debug
/Traditional-Methods/Traditional-Methods/Traditional-Methods.*

